<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sankuai.hackathon.lbs.dao.IGroupDao">


    <select id="getGroupByUserId" resultType="com.sankuai.hackathon.lbs.bean.po.GroupPO">
        SELECT * FROM tb_group
        INNER JOIN group_user
        on tb_group.group_id = tb_group.id
        WHERE group_user.user_id = #{userId}
    </select>

    <select id="getGroupById"  resultType="com.sankuai.hackathon.lbs.bean.po.GroupPO">
        SELECT * FROM tb_group
        WHERE id = #{groupId}
    </select>

    <select id="getGroupByRange" resultType="com.sankuai.hackathon.lbs.bean.po.GroupPO">
        SELECT * FROM tb_group
        <![CDATA[ where latitude<#{maxLat} ]]>
        <![CDATA[ and latitude>#{minLat} ]]>
        <![CDATA[ and luntitude<#{maxLun} ]]>
        <![CDATA[ and luntitude>#{minLun} ]]>
    </select>


</mapper>
