<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sankuai.hackathon.lbs.dao.IGroupDao">


    <select id="getGroupById"  resultType="com.sankuai.hackathon.lbs.bean.po.GroupPO">
        SELECT * FROM tb_group
        WHERE id = #{groupId}
    </select>

    <select id="getGroupPOByRange" resultType="com.sankuai.hackathon.lbs.bean.vo.GroupVO">
        SELECT * FROM tb_group
        <![CDATA[ where latitude<#{neLat} ]]>
        <![CDATA[ and latitude>#{swLat} ]]>
        <![CDATA[ and longitude<#{neLng} ]]>
        <![CDATA[ and longitude>#{swLng} ]]>
    </select>

    <select id="getGroupByUserId" resultType="com.sankuai.hackathon.lbs.bean.vo.GroupVO">
        SELECT tb_group.* FROM tb_group, user_group
        WHERE user_group.group_id = tb_group.id
        and user_group.user_id = #{userId}
    </select>

    <insert id="insertMember" parameterType="com.sankuai.hackathon.lbs.bean.po.GroupUserPO">
        INSERT INTO user_group (user_id, group_id, create_time)
        VALUES	( #{userId}, #{groupId}, CURRENT_TIMESTAMP );
    </insert>


</mapper>
