<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sankuai.hackathon.lbs.dao.IPostDAO">
    <insert id="insert">
        INSERT INTO post(id,user_id,group_id,content,status,vote_count,create_time)
        VALUES(#{id},#{userId},#{groupId},#{content},#{status},#{voteCount},#{createTime})
    </insert>
    <insert id="batchInsert" parameterType="list">
        INSERT INTO post(id,user_id,group_id,content,status,vote_count,create_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.userId},#{item.groupId},#{item.content},#{item.status},#{item.voteCount},#{item.createTime})
        </foreach>
        ON DUPLICATE KEY UPDATE user_id=VALUES(user_id),group_id=VALUES(group_id),content=VALUES(content),status=VALUES(status),vote_count=VALUES(vote_count),create_time=VALUES(create_time)
    </insert>
    <update id="update">
        UPDATE post
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">
                user_id=#{userId},
            </if>
            <if test="groupId != null">
                group_id=#{groupId},
            </if>
            <if test="content != null">
                content=#{content},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="voteCount != null">
                vote_count=#{voteCount},
            </if>
            <if test="createTime != null">
                create_time=#{createTime}
            </if>
        </trim>
        WHERE id=#{id}
    </update>
    <select id="getById" resultType="com.sankuai.hackathon.lbs.bean.po.PostPO">
        SELECT * FROM post
        WHERE id=#{value}
    </select>

    <resultMap id="user" type="com.sankuai.hackathon.lbs.bean.po.UserPO">
    </resultMap>
    <resultMap id="group" type="com.sankuai.hackathon.lbs.bean.po.GroupPO">
    </resultMap>
    <resultMap id="postVO" type="com.sankuai.hackathon.lbs.bean.vo.PostVO">
        <id column="id" property="id"/>
        <association property="user" resultMap="user"/>
        <association property="group" resultMap="group"/>
    </resultMap>
    <select id="getByGroup" resultMap="postVO">
        SELECT *
        FROM post
        INNER JOIN user on post.user_id = user.id
        INNER JOIN tb_group on post.group_id = tb_group.id
        WHERE post.group_id=${value}
    </select>
</mapper>