<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sankuai.hackathon.lbs.dao.IUserDAO">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.sankuai.hackathon.lbs.bean.po.UserPO">
        INSERT INTO user(id,username,avatar,nickname,password,email,online,create_time,recent_login_time)
        VALUES(#{id},#{username},#{avatar},#{nickname},#{password},#{email},#{online},#{createTime},#{recentLoginTime})
    </insert>
    <insert id="batchInsert" parameterType="list">
        INSERT INTO user(id,username,avatar,nickname,password,email,online,create_time,recent_login_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.username},#{item.avatar},#{item.nickname},#{item.password},#{item.email},#{item.online},#{item.createTime},#{item.recentLoginTime})
        </foreach>
        ON DUPLICATE KEY UPDATE username=VALUES(username),avatar=VALUES(avatar),nickname=VALUES(nickname),password=VALUES(password),email=VALUES(email),online=VALUES(online),create_time=VALUES(create_time),recent_login_time=VALUES(recent_login_time)
    </insert>
    <update id="update">
        UPDATE user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">
                username=#{username},
            </if>
            <if test="avatar != null">
                avatar=#{avatar},
            </if>
            <if test="nickname != null">
                nickname=#{nickname},
            </if>
            <if test="password != null">
                password=#{password},
            </if>
            <if test="email != null">
                email=#{email},
            </if>
            <if test="online != null">
                online=#{online},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="recentLoginTime != null">
                recent_login_time=#{recentLoginTime}
            </if>
        </trim>
        WHERE id=#{id}
    </update>
    <select id="getById" resultType="com.sankuai.hackathon.lbs.bean.po.UserPO">
        SELECT * FROM user
        WHERE id=#{value}
    </select>
    <select id="getByName" resultType="com.sankuai.hackathon.lbs.bean.po.UserPO">
        SELECT * FROM user
        WHERE username=#{value}
    </select>

    <select id="getByGroup" resultType="com.sankuai.hackathon.lbs.bean.po.UserPO">
        SELECT * FROM user
        INNER JOIN user_group on user.id = user_group.user_id
        WHERE user_group.group_id = #{groupId}
    </select>


</mapper>